table,th,td{
    margin-left:30px;
    border:2px solid rgb(20, 55, 78);
    background-color:#3b6e3b18;
}
tr{
    text-align: center
}
th{
    color:red;
    text-align: center;
    
}
td{
    color:brown;
    font-size:15px;
}
h1{
    margin-left:30px;
}